<style>
body{
    background-color: #828282;
}
h3{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 20%;
    left: 50%;
    font-size: 25px;
}
p{
    color: white;
    font-size: 20px;
} 
button:hover{
    color:red;
    background-color:black;
}
form{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
}
</style>


{% if validlink %}
    <h3>Change Password</h3>
    <form method= "post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type = "submit">Change Password</button>
    </form>
{% else %}
    <p>
        The password reset link was invalid, possibly because it has already been used.
        Please request a new password reset.
    </p>
{% endif %}